In [2]:
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score
from NodeGAMLSS.nodegamlss.vis_utils import final_plotting_function
from NodeGAMLSS.nodegamlss.vis_utils import _plot_single_features
from NodeGAMLSS.nodegamlss.vis_utils import _plot_interaction_effects

from nampy.formulas.formula_utils import*
from keras.optimizers import Adam
from nampy.models import NAMLSS
from sklearn.model_selection import train_test_split

from nampy.formulas.formula_utils import*
import pandas as pd
from nampy.visuals.plot_predictions import*
from nampy.formulas.formulas import*
import matplotlib.pyplot as plt
# Tenter d'importer le mod√®le de base de NodeGAMLSS, car c'est lui qui contient la m√©thode
#from nodegamlss.model import nodeGAMLSS 
# Si cela ne fonctionne pas, essayez l'importation directe de la fonction :
# from nodegamlss.visualization import visualize_nodegam # (√† v√©rifier dans le d√©p√¥t exact)

WARNING! The apex is not installed so fp16 is not available.

WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\tensorflow_probability\python\internal\backend\numpy\_utils.py:48: The name tf.logging.TaskLevelStatusMessage is deprecated. Please use tf.compat.v1.logging.TaskLevelStatusMessage instead.

WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\tensorflow_probability\python\internal\backend\numpy\_utils.py:48: The name tf.control_flow_v2_enabled is deprecated. Please use tf.compat.v1.control_flow_v2_enabled instead.

In [12]:
feature_importances

array([0.06466559, 0.03536788, 0.016404  , 0.05113795, 0.14816588,
       0.11940918, 0.22632698, 0.0030221 , 0.03124823, 0.13697355,
       0.08731946, 0.0799592 ])

In [3]:
import numpy as np
columns = [
"zscore", "c_gender", "c_breastf", "c_age", "m_agebirth", "m_height",
"m_bmi", "m_education", "m_work", "district", "region", "time"
]
data = pd.read_csv('zambia_height92.raw', sep='\t')
feature_importances = np.abs(np.random.randn(len(columns)))
feature_importances /= feature_importances.sum()  # Normalize
model_df = pd.DataFrame({
"feat_idx": list(range(len(columns))),
"feat_name": columns,
"importance": feature_importances
})
interaction_pairs = [(0, 1), (2, 3)]  # Example pairs of feature indices
interaction_importances = np.random.rand(len(interaction_pairs)) * 0.05

interaction_df = pd.DataFrame({
"feat_idx": interaction_pairs,
"feat_name": [f"{columns[i]}*{columns[j]}" for i, j in interaction_pairs],
"importance": interaction_importances
})
final_df = pd.concat([model_df, interaction_df], ignore_index=True)
all_dfs = {
"zambia_height92": final_df
}
prepared_dfs = _plot_single_features(all_dfs, parameter_name="mean")

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py in ?(
    self=<Flask 'NodeGAMLSS.nodegamlss.vis_utils'>
)
    878             rv = self.preprocess_request()
    879             if rv is None:
    880                 rv = self.dispatch_request()
    881         except Exception as e:
--> 882             rv = self.handle_user_exception(e)
    883         return self.finalize_request(rv)

c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py in ?(
    self=<Flask 'NodeGAMLSS.nodegamlss.vis_utils'>
)
    861         ):
    862             return self.make_default_options_response()
    863         # otherwise dispatch to the handler for that endpoint
    864         view_args: dict[str, t.Any] = req.view_args  # type: ignore[assignment]
--> 865         return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)  # type: ignore[no-any-return]

c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\dash.py in ?(self=<dash.dash.Dash object>)
   1372
   1373         ctx = copy_context()
   1374         # noinspection PyArgumentList
   1375         response.set_data(
-> 1376             ctx.run(
   1377                 functools.partial(
   1378                     func,
   1379                     *args,

c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\_callback.py in ?(*args=('0',), **kwargs={})
    503                         # If the error returns nothing, automatically puts NoUpdate for response.
    504                         if output_value is None and has_output:
    505                             output_value = NoUpdate()
    506                     else:
--> 507                         raise err
    508
    509             component_ids = collections.defaultdict(dict)
    510

c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\_callback.py in ?(*args=('0',), **kwargs={})
    503                         # If the error returns nothing, automatically puts NoUpdate for response.
    504                         if output_value is None and has_output:
    505                             output_value = NoUpdate()
    506                     else:
--> 507                         raise err
    508
    509             component_ids = collections.defaultdict(dict)
    510

c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\_callback.py in ?(
    func=<function _plot_single_features.<locals>.update_single_feature_graph>,
    *args=('0',),
    **kwargs={}
)
     42 def _invoke_callback(func, *args, **kwargs):  # used to mark the frame for the debugger
---> 43     return func(*args, **kwargs)  # %% callback invoked %%

c:\Users\yanni\Downloads\yannick(1)\NAMpy\NodeGAMLSS\nodegamlss\vis_utils.py in ?(selected_feature='0')
    544             )
    545
    546             if original_feature in df_lookup.index:
    547                 row = df_lookup.loc[original_feature]
--> 548                 x_values, y_values = row.x, row.y
    549
    550                 if isinstance(x_values[0], str):  # Categorical feature
    551                     fig.add_trace(go.Bar(x=x_values, y=y_values, name=model_name))

c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\generic.py in ?(
    self=feat_name       zscore
importance    0.059295
Name: 0, dtype: object,
    name='x'
)
   6295             and name not in self._accessors
   6296             and self._info_axis._can_hold_identifiers_and_holds_name(name)
   6297         ):
   6298             return self[name]
-> 6299         return object.__getattribute__(self, name)

AttributeError: 'Series' object has no attribute 'x'

In [7]:
data

,zscore,c_gender,c_breastf,c_age,m_agebirth,m_height,m_bmi,m_education,m_work,district,region,time
0,-159,0,0,4,24.66667,148.9,21.83,2,0,81,1,1
1,-205,0,13,26,22.83333,148.9,21.83,2,0,81,1,1
2,-192,1,18,56,15.33333,169.2,20.43,2,1,81,1,1
3,-146,1,0,6,21.50000,162.2,22.27,3,0,81,1,1
4,69,0,6,54,17.50000,162.2,22.27,3,0,81,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4416,-140,0,0,6,21.50000,155.3,21.35,3,1,74,9,1
4417,-73,0,0,2,15.83333,154.4,20.93,2,0,74,9,1
4418,-108,1,18,42,27.50000,149.9,21.32,3,1,74,9,1
4419,-352,0,1,13,22.91667,152.5,20.47,2,1,74,9,1
4420,-252,1,20,41,20.58333,152.5,20.47,2,1,74,9,1

In [ ]:
_plot_single_features(data,namlss)
#parameter_names
#feature_names

In [36]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

scaler = StandardScaler()
X = data.drop(columns=['zscore'])
y = data['zscore']

X_scaled = scaler.fit_transform(X)

model = LinearRegression().fit(X_scaled, y)
my_feat_importance= abs(model.coef_)

data = pd.read_csv('zambia_height92.raw', sep='\t')
print("SHAPE",data.shape)
X_train, X_temp, y_train, y_temp = train_test_split(X_scaled, y, test_size=0.3, random_state=42)
# we now divide temp-data into test and validation
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)
print("Train X shape:", X_train.shape)
print("Train y shape:", y_train.shape)
print("Validation X shape:", X_val.shape)
print("Validation y shape:", y_val.shape)
print("Test X shape:", X_test.shape)
print("Test y shape:", y_test.shape)
print(data.head())

my_formula=all_features_additive_model(df=data,target='zscore',intercept=False)
print("Generated formula is **************************************: ", my_formula)

formula_handler= FormulaHandler()
intercept, y =formula_handler._get_intercept(my_formula)

SHAPE (4421, 12)
Train X shape: (3094, 11)
Train y shape: (3094,)
Validation X shape: (663, 11)
Validation y shape: (663,)
Test X shape: (664, 11)
Test y shape: (664,)
   zscore  c_gender  c_breastf  c_age  m_agebirth  m_height  m_bmi  \
0    -159         0          0      4    24.66667     148.9  21.83
1    -205         0         13     26    22.83333     148.9  21.83
2    -192         1         18     56    15.33333     169.2  20.43
3    -146         1          0      6    21.50000     162.2  22.27
4      69         0          6     54    17.50000     162.2  22.27

   m_education  m_work  district  region  time
0            2       0        81       1     1
1            2       0        81       1     1
2            2       1        81       1     1
3            3       0        81       1     1
4            3       0        81       1     1
Generated formula is **************************************:  zscore ~ -1 + MLP(c_gender) + MLP(c_breastf) + MLP(c_age) + MLP(m_agebirth) + MLP(m_height) + MLP(m_bmi) + MLP(m_education) + MLP(m_work) + MLP(district) + MLP(region) + MLP(time)

In [37]:
my_feat_importance

array([ 7.90004446,  4.21339983, 32.26940277,  8.68484387, 30.5454814 ,
       12.56650171, 14.28848428,  1.29691547, 16.69124785,  6.48094933,
        0.        ])

In [20]:
namlss = NAMLSS(
    formula=my_formula,
    data=data, 
    family="Normal", 
    loss="nll",
)
namlss.compile(
    optimizer=Adam(learning_rate=0.001), 
    loss={"output":namlss.Loss}, 
    metrics={"summed_output":"mse"}
    )
print("Training dataset: ", namlss.training_dataset)
namlss.fit(namlss.training_dataset, epochs=2, validation_data=namlss.validation_dataset)

loss = namlss.evaluate(namlss.validation_dataset)
print("Test Loss:", loss)

--- Preprocessing ---

12it [00:00, 947.15it/s]
11it [00:00, 754.51it/s]

Training dataset:  <_PrefetchDataset element_spec=({'Shapefunction0:c_gender': TensorSpec(shape=(None, 2), dtype=tf.float32, name=None), 'Shapefunction1:c_breastf': TensorSpec(shape=(None, 47), dtype=tf.float32, name=None), 'Shapefunction2:c_age': TensorSpec(shape=(None, 60), dtype=tf.float32, name=None), 'Shapefunction3:m_agebirth': TensorSpec(shape=(None, 1), dtype=tf.float32, name=None), 'Shapefunction4:m_height': TensorSpec(shape=(None, 1), dtype=tf.float32, name=None), 'Shapefunction5:m_bmi': TensorSpec(shape=(None, 1), dtype=tf.float32, name=None), 'Shapefunction6:m_education': TensorSpec(shape=(None, 5), dtype=tf.float32, name=None), 'Shapefunction7:m_work': TensorSpec(shape=(None, 2), dtype=tf.float32, name=None), 'Shapefunction8:district': TensorSpec(shape=(None, 100), dtype=tf.float32, name=None), 'Shapefunction9:region': TensorSpec(shape=(None, 10), dtype=tf.float32, name=None), 'Shapefunction10:time': TensorSpec(shape=(None, 2), dtype=tf.float32, name=None)}, TensorSpec(shape=(None,), dtype=tf.int64, name=None))>
Epoch 1/2
------------- NAMLSS-BUILT IS CALLED --------------

------------- Network architecture --------------
Shapefunction0 -> MLP(feature=['c_gender'], n_params=12928) -> output dimension=2
Shapefunction1 -> MLP(feature=['c_breastf'], n_params=18688) -> output dimension=2
Shapefunction2 -> MLP(feature=['c_age'], n_params=20352) -> output dimension=2
Shapefunction3 -> MLP(feature=['m_agebirth'], n_params=12800) -> output dimension=2
Shapefunction4 -> MLP(feature=['m_height'], n_params=12800) -> output dimension=2
Shapefunction5 -> MLP(feature=['m_bmi'], n_params=12800) -> output dimension=2
Shapefunction6 -> MLP(feature=['m_education'], n_params=13312) -> output dimension=2
Shapefunction7 -> MLP(feature=['m_work'], n_params=12928) -> output dimension=2
Shapefunction8 -> MLP(feature=['district'], n_params=25472) -> output dimension=2
Shapefunction9 -> MLP(feature=['region'], n_params=13952) -> output dimension=2
Shapefunction10 -> MLP(feature=['time'], n_params=12928) -> output dimension=2
------------- NAMLSS-CALL IS CALLED --------------
------------- NAMLSS-CALL IS CALLED --------------
3/4 [=====================>........] - ETA: 0s - loss: 37991.7891 - output_loss: 37991.7891 - summed_output_mse: 47813.4688 ------------- NAMLSS-CALL IS CALLED --------------
4/4 [==============================] - 8s 219ms/step - loss: 34487.1133 - output_loss: 34487.1133 - summed_output_mse: 47806.4336 - val_loss: 7898.5332 - val_output_loss: 7898.5332 - val_summed_output_mse: 46924.0742
Epoch 2/2
4/4 [==============================] - 0s 50ms/step - loss: 5750.1646 - output_loss: 5750.1646 - summed_output_mse: 49188.5508 - val_loss: 3185.2185 - val_output_loss: 3185.2185 - val_summed_output_mse: 48451.5508
1/1 [==============================] - 0s 53ms/step - loss: 3370.3494 - output_loss: 3370.3494 - summed_output_mse: 51451.9805
Test Loss: [3370.349365234375, 3370.349365234375, 51451.98046875]

In [33]:
namlss.

'zscore ~ -1 + MLP(c_gender) + MLP(c_breastf) + MLP(c_age) + MLP(m_agebirth) + MLP(m_height) + MLP(m_bmi) + MLP(m_education) + MLP(m_work) + MLP(district) + MLP(region) + MLP(time)'

In [7]:
import numpy as np
columns = namlss.feature_names
data = pd.read_csv('zambia_height92.raw', sep='\t')
#feature_importances = np.abs(np.random.randn(len(columns)))
#feature_importances /= feature_importances.sum()  # Normalize
model_df = pd.DataFrame({
"feat_idx": list(range(len(columns))),
"feat_name": columns,
"importance": my_feat_importance
})
interaction_pairs = [(0, 1), (2, 3)]  # Example pairs of feature indices
interaction_importances = np.random.rand(len(interaction_pairs)) * 0.05

interaction_df = pd.DataFrame({
"feat_idx": interaction_pairs,
"feat_name": [f"{columns[i]}*{columns[j]}" for i, j in interaction_pairs],
"importance": interaction_importances
})
final_df = pd.concat([model_df, interaction_df], ignore_index=True)
all_dfs = {
"zambia_height92": final_df
}
#model_df["x"]=X_train[1:12][0]
#model_df["y"]=y_train[1:12]
import numpy as np

num_points = 20
model_df["x"] = [np.linspace(0, 1, num_points)] * len(model_df)
model_df["y"] = [np.random.rand(num_points)] * len(model_df)

all_dfs = {"NAMLSS_mu": model_df}
prepared_dfs = _plot_single_features(all_dfs, parameter_name="mean")

NameError: name 'namlss' is not defined

In [52]:
X_train[1:12]

array([[ 1.0198763 , -0.96762979,  0.28530661, -1.17407002,  0.09047869,
        -1.22367395, -0.03354907, -1.11134421,  0.78492427,  1.71006331,
         0.        ],
       [ 1.0198763 ,  0.62440042, -0.18194307,  0.08729449,  0.49095222,
         0.63519101,  1.49552746, -1.11134421,  0.06829904, -1.03938231,
         0.        ],
       [ 1.0198763 , -1.17990049, -1.23325487,  0.30560749, -0.51023159,
        -1.10937481, -0.03354907, -1.11134421,  0.92824932,  0.13895153,
         0.        ],
       [-0.98051107,  0.83667111,  0.69415009,  0.924161  ,  0.15722428,
         2.18725302,  1.49552746,  0.89981123,  0.92824932,  0.13895153,
         0.        ],
       [-0.98051107, -1.07376514, -0.82441139,  2.2582965 , -0.02632608,
         1.73306433, -0.03354907,  0.89981123,  0.89241806, -1.43216026,
         0.        ],
       [-0.98051107, -1.07376514, -0.8828176 , -0.78595753,  0.32408825,
        -1.08230396, -0.03354907, -1.11134421, -0.36167611, -1.03938231,
         0.        ],
       [-0.98051107, -0.01241167, -0.00672444, -0.09463302, -0.24324924,
        -0.53186336, -1.56262559, -1.11134421,  0.13996156,  0.92450742,
         0.        ],
       [ 1.0198763 , -1.17990049, -1.05803623, -0.74957203, -0.00963969,
        -0.5920208 , -0.03354907, -1.11134421,  1.25073068,  0.13895153,
         0.        ],
       [ 1.0198763 ,  0.73053576, -0.47397413, -0.72531454,  1.24184008,
        -0.70932782, -0.03354907,  0.89981123, -1.36495144,  0.53172947,
         0.        ],
       [ 1.0198763 , -1.07376514, -0.8828176 , -0.49487352,  1.05828972,
        -0.33935955, -0.03354907, -1.11134421, -0.07502601, -1.03938231,
         0.        ],
       [-0.98051107, -1.17990049, -1.46687971, -0.81021501,  0.85805295,
         0.4637423 ,  1.49552746, -1.11134421, -0.36167611, -1.03938231,
         0.        ]])

In [46]:
model_df

    feat_idx    feat_name  importance
0          0     c_gender    7.900044
1          1    c_breastf    4.213400
2          2        c_age   32.269403
3          3   m_agebirth    8.684844
4          4     m_height   30.545481
5          5        m_bmi   12.566502
6          6  m_education   14.288484
7          7       m_work    1.296915
8          8     district   16.691248
9          9       region    6.480949
10        10         time    0.000000

In [40]:
model_df

    feat_idx    feat_name  importance
0          0     c_gender    7.900044
1          1    c_breastf    4.213400
2          2        c_age   32.269403
3          3   m_agebirth    8.684844
4          4     m_height   30.545481
5          5        m_bmi   12.566502
6          6  m_education   14.288484
7          7       m_work    1.296915
8          8     district   16.691248
9          9       region    6.480949
10        10         time    0.000000

In [34]:
model_df

    feat_idx    feat_name  importance
0          0       zscore    0.064666
1          1     c_gender    0.035368
2          2    c_breastf    0.016404
3          3        c_age    0.051138
4          4   m_agebirth    0.148166
5          5     m_height    0.119409
6          6        m_bmi    0.226327
7          7  m_education    0.003022
8          8       m_work    0.031248
9          9     district    0.136974
10        10       region    0.087319
11        11         time    0.079959

In [62]:

preds_all=namlss._get_plotting_preds()
print("******************************************** Graphic and static  Overview *********************************")
print('***************************************** PREDICTIONS ON TRAINING DATA ************************', namlss._get_plotting_preds(training_data=True)[:5])

print('PRED ALL ',preds_all)
#namlss._plot_all_effects()
#namlss._plot_single_effects()
namlss.plot_dist() 
namlss.plot(interactive=False)
#plot_additive_model(model=namlss)
#plot_multi_output(model=namlss)
#NodeGAMLSS.plot_single_feature_effects(X, parameter="mean")

NameError: name 'namlss' is not defined

In [ ]:
#namlss.plot_dist() 
final_plotting_function(    
    data,
    model_names=namlss,
    top_main=-1,
    top_interactions=-1,
    only_interactions=False,
    port=8050)

In [10]:
# =====================================================
# === IMPORTS DE BASE =================================
# =====================================================
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from tensorflow.keras.optimizers import Adam

# ==== Imports NAMpy ====
from nampy.models import NAMLSS
from nampy.formulas.formula_utils import *
from nampy.formulas.formulas import *
from nampy.visuals.plot_predictions import *

# ==== Imports NodeGAMLSS ====
from NodeGAMLSS.nodegamlss.model import NodeGAMLSS


# =====================================================
# === 1. CHARGEMENT ET PR√âPARATION DES DONN√âES ========
# =====================================================
data = pd.read_csv("zambia_height92.raw", sep="\t")
print("‚úÖ Donn√©es charg√©es :", data.shape)

X = data.drop(columns=["zscore"])
y = data["zscore"]

# Division train/val/test
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

print(f"Train: {X_train.shape}, Val: {X_val.shape}, Test: {X_test.shape}")


# =====================================================
# === 2. CR√âATION DE LA FORMULE ADDITIVE ==============
# =====================================================
my_formula = all_features_additive_model(df=data, target="zscore", intercept=False)
print("üìò Generated formula:", my_formula)

# Cr√©ation du mod√®le NAMLSS
namlss = NAMLSS(
    formula=my_formula,
    data=data,
    family="Normal",
    loss="nll",
)

namlss.compile(
    optimizer=Adam(learning_rate=0.001),
    loss={"output": namlss.Loss},
    metrics={"summed_output": "mse"},
)

print("üöÄ Entra√Ænement du mod√®le NAMLSS en cours...")
namlss.fit(namlss.training_dataset, epochs=20, validation_data=namlss.validation_dataset)
print("‚úÖ Entra√Ænement termin√©.")

# √âvaluation
loss = namlss.evaluate(namlss.validation_dataset)
print("üìä Test Loss:", loss)


# =====================================================
# === 3. PREDICTIONS / DIAGNOSTICS ====================
# =====================================================
preds_all = namlss._get_plotting_preds()
print("üîç Exemple de pr√©dictions sur le training set :")
print(namlss._get_plotting_preds(training_data=True)[:5])


# =====================================================
# === 4. VISUALISATION AVEC NODEGAMLSS ================
# =====================================================
print("\n=================== VISUALISATION DES EFFETS ===================")

# Conversion vers numpy
X_np = X.to_numpy()
y_np = y.to_numpy()

# Cr√©ation d‚Äôun objet NodeGAMLSS uniquement pour la visualisation
node_model = NodeGAMLSS(
    in_features=X.shape[1],
    family="normal",
    device="cpu",
    verbose=False,
    max_steps=1,     # inutile d‚Äôentra√Æner, juste pour initialiser
    lr=0.001,
    report_frequency=100,
    num_trees=75,
)

# === 4.1 Visualisation globale de type Node-GAM ===
print("üìà Affichage des effets globaux (Node-GAM style)...")
fig, axes, df = node_model.visualize_nodegam(X_np)
plt.show()

# === 4.2 Effets principaux (moyenne) ===
print("üìâ Affichage des effets principaux (parameter='mean')...")
node_model.plot_single_feature_effects(X_np, parameter="mean")

# === 4.3 Interactions (moyenne) ===
print("üß© Lancement du Dash server pour les interactions (port 8050)...")
node_model.plot_interaction_effects(X_np, parameter="mean", port=8050)
print("üåê Acc√©dez √† http://localhost:8050 pour explorer les interactions.")

WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\tensorflow_probability\python\internal\backend\numpy\_utils.py:48: The name tf.logging.TaskLevelStatusMessage is deprecated. Please use tf.compat.v1.logging.TaskLevelStatusMessage instead.

WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\tensorflow_probability\python\internal\backend\numpy\_utils.py:48: The name tf.control_flow_v2_enabled is deprecated. Please use tf.compat.v1.control_flow_v2_enabled instead.

WARNING! The apex is not installed so fp16 is not available.
‚úÖ Donn√©es charg√©es : (4421, 12)
Train: (3094, 11), Val: (663, 11), Test: (664, 11)
üìò Generated formula: zscore ~ -1 + MLP(c_gender) + MLP(c_breastf) + MLP(c_age) + MLP(m_agebirth) + MLP(m_height) + MLP(m_bmi) + MLP(m_education) + MLP(m_work) + MLP(district) + MLP(region) + MLP(time)
WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

--- Preprocessing ---

12it [00:00, 266.54it/s]
11it [00:00, 1095.53it/s]

üöÄ Entra√Ænement du mod√®le NAMLSS en cours...
Epoch 1/20
------------- NAMLSS-BUILT IS CALLED --------------
------------- Network architecture --------------
Shapefunction0 -> MLP(feature=['c_gender'], n_params=12928) -> output dimension=2
Shapefunction1 -> MLP(feature=['c_breastf'], n_params=18688) -> output dimension=2
Shapefunction2 -> MLP(feature=['c_age'], n_params=20352) -> output dimension=2
Shapefunction3 -> MLP(feature=['m_agebirth'], n_params=12800) -> output dimension=2
Shapefunction4 -> MLP(feature=['m_height'], n_params=12800) -> output dimension=2
Shapefunction5 -> MLP(feature=['m_bmi'], n_params=12800) -> output dimension=2
Shapefunction6 -> MLP(feature=['m_education'], n_params=13312) -> output dimension=2
Shapefunction7 -> MLP(feature=['m_work'], n_params=12928) -> output dimension=2
Shapefunction8 -> MLP(feature=['district'], n_params=25472) -> output dimension=2
Shapefunction9 -> MLP(feature=['region'], n_params=13952) -> output dimension=2
Shapefunction10 -> MLP(feature=['time'], n_params=12928) -> output dimension=2
------------- NAMLSS-CALL IS CALLED --------------
WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

------------- NAMLSS-CALL IS CALLED --------------
3/4 [=====================>........] - ETA: 0s - loss: 155516.9531 - output_loss: 155516.9531 - summed_output_mse: 48231.4688 ------------- NAMLSS-CALL IS CALLED --------------
4/4 [==============================] - 8s 203ms/step - loss: 139604.1250 - output_loss: 139604.1250 - summed_output_mse: 48191.8047 - val_loss: 13769.2881 - val_output_loss: 13769.2881 - val_summed_output_mse: 48732.9805
Epoch 2/20
4/4 [==============================] - 0s 49ms/step - loss: 14321.2666 - output_loss: 14321.2666 - summed_output_mse: 48605.9766 - val_loss: 5625.8154 - val_output_loss: 5625.8154 - val_summed_output_mse: 49253.3516
Epoch 3/20
4/4 [==============================] - 0s 52ms/step - loss: 5414.5654 - output_loss: 5414.5654 - summed_output_mse: 48370.1484 - val_loss: 3509.3811 - val_output_loss: 3509.3811 - val_summed_output_mse: 51634.9102
Epoch 4/20
4/4 [==============================] - 0s 51ms/step - loss: 3234.0979 - output_loss: 3234.0979 - summed_output_mse: 48777.2461 - val_loss: 2479.0442 - val_output_loss: 2479.0442 - val_summed_output_mse: 49916.1758
Epoch 5/20
4/4 [==============================] - 0s 51ms/step - loss: 2347.1743 - output_loss: 2347.1743 - summed_output_mse: 49377.7695 - val_loss: 1921.2626 - val_output_loss: 1921.2626 - val_summed_output_mse: 47399.5469
Epoch 6/20
4/4 [==============================] - 0s 57ms/step - loss: 1928.5236 - output_loss: 1928.5236 - summed_output_mse: 49141.2500 - val_loss: 1775.9445 - val_output_loss: 1775.9445 - val_summed_output_mse: 50472.1445
Epoch 7/20
4/4 [==============================] - 0s 59ms/step - loss: 1711.7028 - output_loss: 1711.7028 - summed_output_mse: 49222.2422 - val_loss: 1513.0173 - val_output_loss: 1513.0173 - val_summed_output_mse: 48610.0547
Epoch 8/20
4/4 [==============================] - 0s 57ms/step - loss: 1455.0966 - output_loss: 1455.0966 - summed_output_mse: 49289.8086 - val_loss: 1386.2836 - val_output_loss: 1386.2836 - val_summed_output_mse: 48601.7695
Epoch 9/20
4/4 [==============================] - 0s 48ms/step - loss: 1376.7910 - output_loss: 1376.7910 - summed_output_mse: 48972.1523 - val_loss: 1290.4800 - val_output_loss: 1290.4800 - val_summed_output_mse: 48245.5938
Epoch 10/20
4/4 [==============================] - 0s 49ms/step - loss: 1280.4600 - output_loss: 1280.4600 - summed_output_mse: 49697.5938 - val_loss: 1192.6289 - val_output_loss: 1192.6289 - val_summed_output_mse: 47648.8203
Epoch 11/20
4/4 [==============================] - 0s 52ms/step - loss: 1237.8167 - output_loss: 1237.8167 - summed_output_mse: 50166.9648 - val_loss: 1188.2828 - val_output_loss: 1188.2828 - val_summed_output_mse: 50152.2305
Epoch 12/20
4/4 [==============================] - 0s 53ms/step - loss: 1131.4946 - output_loss: 1131.4946 - summed_output_mse: 48584.8984 - val_loss: 1067.8912 - val_output_loss: 1067.8912 - val_summed_output_mse: 44970.7812
Epoch 13/20
4/4 [==============================] - 0s 43ms/step - loss: 1110.5696 - output_loss: 1110.5696 - summed_output_mse: 48434.4648 - val_loss: 1083.1254 - val_output_loss: 1083.1254 - val_summed_output_mse: 48256.4492
Epoch 14/20
4/4 [==============================] - 0s 47ms/step - loss: 1099.5394 - output_loss: 1099.5394 - summed_output_mse: 49337.0547 - val_loss: 1093.2306 - val_output_loss: 1093.2306 - val_summed_output_mse: 49409.4570
Epoch 15/20
4/4 [==============================] - 0s 55ms/step - loss: 1060.3158 - output_loss: 1060.3158 - summed_output_mse: 49824.4336 - val_loss: 1060.2533 - val_output_loss: 1060.2533 - val_summed_output_mse: 50740.0586
Epoch 16/20
4/4 [==============================] - 0s 51ms/step - loss: 1059.0487 - output_loss: 1059.0487 - summed_output_mse: 50140.6797 - val_loss: 1121.3665 - val_output_loss: 1121.3665 - val_summed_output_mse: 53890.3203
Epoch 17/20
4/4 [==============================] - 0s 46ms/step - loss: 1011.5359 - output_loss: 1011.5359 - summed_output_mse: 49504.8945 - val_loss: 948.9134 - val_output_loss: 948.9134 - val_summed_output_mse: 47442.5938
Epoch 18/20
4/4 [==============================] - 0s 45ms/step - loss: 968.6072 - output_loss: 968.6072 - summed_output_mse: 49893.9180 - val_loss: 979.9665 - val_output_loss: 979.9665 - val_summed_output_mse: 50977.1055
Epoch 19/20
4/4 [==============================] - 0s 45ms/step - loss: 953.0439 - output_loss: 953.0439 - summed_output_mse: 50024.2461 - val_loss: 926.7960 - val_output_loss: 926.7960 - val_summed_output_mse: 49809.9922
Epoch 20/20
4/4 [==============================] - 0s 51ms/step - loss: 939.4678 - output_loss: 939.4678 - summed_output_mse: 48828.7070 - val_loss: 835.5579 - val_output_loss: 835.5579 - val_summed_output_mse: 45479.8359
‚úÖ Entra√Ænement termin√©.
1/1 [==============================] - 0s 72ms/step - loss: 843.9955 - output_loss: 843.9955 - summed_output_mse: 46389.2188
üìä Test Loss: [843.9955444335938, 843.9955444335938, 46389.21875]
üîç Exemple de pr√©dictions sur le training set :
------------- NAMLSS-CALL IS CALLED --------------
4/4 [==============================] - 0s 8ms/step
[-4.0461097 -1.1440651  7.5041914  1.9717073 -3.4020715]

=================== VISUALISATION DES EFFETS ===================
üìà Affichage des effets globaux (Node-GAM style)...

AttributeError: 'numpy.ndarray' object has no attribute 'dtypes'

In [ ]:
preds = namlss.predict(namlss.training_dataset)
distributional_prediction = preds["summed_output"]
print(distributional_prediction)

y_hat = preds["output"]
print("Predicted values: ", y_hat)

### New Model ###

In [5]:
import sys
!{sys.executable} -m ensurepip --upgrade

Looking in links: c:\Users\yanni\AppData\Local\Temp\tmpraygks8g
Requirement already up-to-date: setuptools in c:\users\yanni\appdata\local\programs\python\python39\lib\site-packages (49.2.1)
Requirement already up-to-date: pip in c:\users\yanni\appdata\local\programs\python\python39\lib\site-packages (25.0.1)

In [6]:
!{sys.executable} -m pip --version

pip 25.0.1 from c:\Users\yanni\AppData\Local\Programs\Python\Python39\lib\site-packages\pip (python 3.9)

In [9]:
!{sys.executable} -m pip install qhoptim

Collecting qhoptim

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

  Using cached qhoptim-1.1.0-py3-none-any.whl.metadata (276 bytes)
Using cached qhoptim-1.1.0-py3-none-any.whl (20 kB)
Installing collected packages: qhoptim
Successfully installed qhoptim-1.1.0

In [3]:
!pip install qhoptim

Der Befehl "pip" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

In [ ]:
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score
from NodeGAMLSS.nodegamlss.vis_utils import final_plotting_function
from NodeGAMLSS.nodegamlss.vis_utils import _plot_single_features
from NodeGAMLSS.nodegamlss.vis_utils import _plot_interaction_effects

In [ ]:
#Model Training with NodeGAMLSS

from NodeGAMLSS.nodegamlss.model import NodeGAMLSS

data = pd.read_csv('zambia_height92.raw', sep='\t')
X = data.drop(columns=['zscore'])
y = data['zscore']

model = NodeGAMLSS(
    in_features=X.shape[1],
    family="normal",
    device="cpu", #or "cuda"
    verbose=False,
    max_steps=5000,
    lr=0.001,
    report_frequency=100,
    num_trees=75,
)

In [ ]:
X = X.reset_index(drop=True)
y = y.reset_index(drop=True)
record = model.fit(X, y)

In [ ]:
# Get the GAM effect DataFrame for the desired parameter
df_list = model.get_GAM_df(X)

# Select the parameter index 
param_idx = model.family.param_names.index("mean")
df_mean = df_list[param_idx]

# call _plot_single_features with the correct DataFrame
_plot_single_features({"model": df_mean}, parameter_name="mean")

In [ ]:
model.plot_single_feature_effects(X, parameter="mean")

In [ ]:
model.plot_single_feature_effects(X, parameter="variance")

In [ ]:
model.plot_interaction_effects(X, port=8051, parameter="mean")

In [ ]:
_plot_single_features(X, parameter_name="mean")

In [ ]:
model.plot_interaction_effects(X, port=8051, parameter="variance")

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=[18, 6])
plt.subplot(1, 2, 1)
plt.plot(record['train_losses'])
plt.title('Training Loss')
plt.xlabel('Steps')
plt.grid()
plt.subplot(1, 2, 2)
plt.plot(record['val_metrics'])
plt.title('Validation Metrics')
plt.xlabel('Steps in every 100 step')
plt.grid()
plt.show()